.btn_field {
    margin-top: 20%;
}

.form_btn {
    padding: 15px;
    background-color: tomato;
    border: 1px solid tomato;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.2s ease;
}

.form_btn:hover {
    background-color: transparent;
    color: #000;
}
