.btn_field {
    margin-top: 20%;
}

.form_btn {
    padding: 15px;
    background-color: tomato;
    border: 1px solid tomato;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.2s ease;
}

.form_btn_1 {
    padding: 15px;
    background-color: transparent;
    border: 1px solid tomato;
    color: tomato;
    border-radius: 5px;
    /* font-weight: bold; */
    transition: 0.2s ease;
}

.booking_form_box {
    height: auto;
}