

@media (max-width: 640px) {
    .title_bck_img {
        display: none;
    }
    .content {
        font-size: 25px;
        align-items: center;
        padding-right: 0;
        margin-right: 0;
    }
    .sec_2_about_us {
        margin-top: 0;
    }
}
@media (max-width: 1024px) {
    .title_bck_img {
        display: none;
    }
    .content {
        font-size: 30px;
        align-items: center;
        padding-right: 0;
        margin-right: 0;
    }
    .sec_2_about_us {
        margin-top: 0;
    }

    .sub_content {
        font-size: 15px;
    }
}

@media (max-width: 1280px) {
    .title_bck_img {
        display: none;
    }
    .content {
        font-size: 30px;
        align-items: center;
        padding-right: 0;
        margin-right: 0;
    }
    .sec_2_about_us {
        margin-top: 0;
    }

    .sub_content {
        font-size: 15px;
    }
}
